body{
    padding: 0;
    margin: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.drawer {
  padding: 20px;
}

.drawer-product {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.drawer-img {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.drawer-title {
  width: 320px;
  margin-right: 5px;
}

.drawer-price {
  font-weight: bold;
  margin-right: 10px;
  width: 50px;
}

.drawer-remove {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(185, 76, 76);
  border: none;
  color: #fff;
  width: 50px;
  cursor: pointer;
}
